.header{
  position: sticky;
  width: 100%;
  display: flex;
  height: 70px;
 
}
.left{
  
  margin-left: 5%;
  width: 100%;
  color: #fff;
display: flex;
gap: 20px;
}
.left:hover{
  color: #03c4ff;
}
.left img{
  margin-top: 10px;
  height: 40px;
 
}
.rig{

  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  width: 40%;
  color: white;
  justify-content: space-around;
 
}
.rig h4:hover{
  cursor: pointer;
  color: #03c4ff;
}
a{
  color: aliceblue;
  text-decoration: none;
  }

  @media (max-width: 600px) {
    .rig{

      font-family: 'Kumbh Sans', sans-serif;
      display: flex;
      font-size: 10px;
      gap: 10px;
      width: 100%;
      color: white;
      justify-content: space-around;
     
    }
   
    
  }
  